*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.navbar {
    background-color: whitesmoke;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    margin-right: 10px;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: blue;
} 

.logo img {
    transition: transform 0.2s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.hero .hero-content {
    width: 70%;
}

.hero .hero-heading-text-xxl {
    font-weight: 700;
    margin-bottom: 15px;
}

.hero .hero-text {
    margin-bottom: 30px;
}

.contacts-info {
    display: flex;
    justify-content: center; /* Center horizontally */ 
    height: 100vh; /* Adjust if needed */
    padding-top: 50px;
  }
  
  .email ul {
    display: flex;
    align-items: center; /* Align items in the center */
    list-style: none;
    padding: 0;
  }
  
  .email-icon img {
    width: 20px; /* Adjust size as needed */
    height: auto;
    margin-right: 20px; /* Adds spacing between icon and text */
  }
  
  .email-content ul {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .email-text {
    font-size: 18px;
    font-weight: 300;
  }
  
  .telephone ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .telephone-icon img {
    width: 20px;
    height: auto;
  }

  .telephone-text {
    font-size: 18px;
    font-weight: 300;
  }

  .contact-buttons-content {
    margin-left: 120px;
    margin-top: 50px;
  }

  .contact-buttons-content ul{
    display: flex;
  }

  .contact-buttons-content ul li a {
    padding: 10px 20px;
    display: block;
    margin-right: 10px;
  }

  .btn img {
    width: 30px;
    height: auto;
    transition: transform 0.2s ease-in-out;
  }

  .btn img:hover{
    transform: scale(1.3);
  }
  
  .projects-header {
    font-weight: 600;
    font-size: xx-large;
    justify-content: center;
    display: flex;
  }

